/**
Button
 */
.button {
    border-radius: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 15px;
    width: 10%;
    cursor: pointer;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

