
.home-container h1:nth-child(1) {
    background: -webkit-linear-gradient(#4B0EFB, #9D31C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: homeTextAnimation 3s ease-in-out infinite alternate;
}

.auth-container h1:nth-child(1) {
    background: -webkit-linear-gradient(#4B0EFB, #9D31C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: homeTextAnimation 3s ease-in-out infinite alternate;
}

@keyframes homeTextAnimation {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-80deg);
    }
}

.home-container .home-button-login button {
    margin: 3% 45% auto;
}

.container-auth-form {
    width: 40%;
    padding: 5%;
    margin: 6% auto;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}
